body {
    width: 100%;
    height: 100%;
}
nav {

    width: 100%;
}

#fundo{
    background-image: url("word2.png");
    background-repeat: no-repeat;
    margin-left: 100px;
    margin-right: 100px;
    width: 1920px;
    height: 1150px;
    min-width: 1920px;
    max-width: 1920px;
}
.botoes {
    border-radius: 200px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    background-color: rgba(173, 113, 1, 0.92);
    width: 3px;
    height: 16px;
    position: absolute;
}

/* cidades */
.comentarios {
    position: absolute;

    border-radius: 5px;
}

#miami {
    top: 759px;
    left: 489px;
}

#losAngeles{
    top: 718px;
    left: 322px;
}
#novaYork {
    top: 681px;
    left: 527px;
}
#cNovaYork {
    top: 681px;
    left: 547px;
}
#roma {
    top: 679px;
    left: 898px;
}
#sydney {
    top: 1039px;
    left: 1494px;
}
#londres {
    top: 611px;
    left: 836px;
}
#cairo {
    top: 743px;
    left: 974px;
}
#rioDeJaneiro {
    top: 973px;
    left: 658px;
}
#shanghai {
    top: 728px;
    left: 1362px;
}
#buenosAires {
    top: 1041px;
    left: 586px;
}



/* cicades */
#cMiami {
    width: 111px;
    height: 25px;

    top: 733px;
    left: 507px;
}
#cLosAngeles {
    width: 306px;
    height: 26px;

    top: 692px;
    left: 24px;
}
#cNovaYork {
    width: 239px;
    height: 26px;

    top: 657px;
    left: 547px;
}
#cRoma {
    width: 94px;
    height: 26px;

    top: 696px;
    left: 903px;
}
#cSydney {
    width: 140px;
    height: 26px;

    top: 1013px;
    left: 1515px;
} 
#cLondres {
    width: 150px;
    height: 26px;

    top: 585px;
    left: 691px;
}
#cCairo {
    width: 94px;
    height: 25px;

    top: 757px;
    left: 994px;
}
#cRioDeJaneiro {
    width: 195px;
    height: 26px;

    top: 949px;
    left: 679px;
}
#cShanghai {
    width: 129px;
    height: 26px;
    
    top: 740px;
    left: 1383px;
}
#cBuenosAires {
    width: 192px;
    height: 26px;

    top: 1056px;
    left: 603px;
}



/* Setas */
.seta {
    position: absolute;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    transform: rotate(0deg);
}

#seta-rio{
    width: 198px;
    height: 12px;

    top: 961px;
    left: 675px;
}
#seta-miami{
    width: 114px;
    height: 12px;

    top: 745px;
    left: 503px;
}
#seta-newYork{
    width:240px;
    height: 12px;

    top: 669px;
    left: 543px;
}
#seta-losAngeles{
    width: 311px;
    height: 12px;

    top: 704px;
    left: 19px;
}
#seta-roma{
    width: 120px;
    height: 23px;

    top: 697px;
    left: 899px;
}
#seta-sydney{
    width: 146px;
    height: 15px;

    top: 1024px;
    left: 1510px;
}
#seta-londres{
    width: 157px;
    height: 15px;

    top: 594px;
    left: 687px;
}
#seta-cairo{
    width: 98px;
    height: 20px;
    
    top: 761px;
    left: 990px;
}
#seta-shanghai{
    width: 135px;
    height: 19px;

    top: 746px;
    left: 1378px;
}
#seta-buenos{
    width: 192px;
    height: 20px;

    top: 1061px;
    left: 598px;
}












.modal-content{
    width: 1002px;
}
.modal-body{
    padding-left: 0px;
    padding-right: 0px;

}
.imgsModal{
    width: 960px;
    height: 500px;
    margin: 20px;
}

.margem{
    margin: 20px;
    margin-top: 25px;
}
.modal-dialog {
    max-width: 1000px;
}
iframe{
    margin-left: 220px;
    margin-top: 40px;
}




/* hovers */
.botoes:hover {
    box-shadow: 0px 0px 150px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.5);
}
 

@media screen and (min-width: 1680px) and (max-width: 1920px) {

        
    #fundo {
        width: 1920px;
    }  
}



    
